@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --gradient: linear-gradient(to top left,#1e130c,#9a8478);
    --background: 25 97.15% 98.16%;
    --foreground: 25 4.3% 0.32%;

    --muted: 25 4.3% 90.8%;
    --muted-foreground: 25 2.15% 40.8%;

    --popover: 25 55.6% 90.8%;
    --popover-foreground: 25 4.3% 0.4%;

    --card: 25 55.6% 90.8%;
    --card-foreground: 25 4.3% 0.4%;

    --border: 25 9.3% 89.32%;
    --input: 25 9.3% 89.32%;

    --primary: 25 43% 8%;
    --primary-foreground: 25 0.86% 90.8%;

    --secondary: 25 0% 39.28%;
    --secondary-foreground: 25 3.58% 10.8%;

    --accent: 25 0% 39.28%;
    --accent-foreground: 25 3.58% 10.8%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 25 43% 8%;

    --radius: 0.5rem;
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }

    .dark {
      --gradient: linear-gradient(to top left,#2b5876,#4e4376);

      --background: 217 30.549999999999997% 2.56%;
      --foreground: 217 4.699999999999999% 96.6%;
  
      --muted: 217 47% 10.56%;
      --muted-foreground: 217 4.699999999999999% 53.2%;
  
      --popover: 217 55.6% 4.16%;
      --popover-foreground: 217 4.699999999999999% 96.6%;
  
      --card: 217 55.6% 4.16%;
      --card-foreground: 217 4.699999999999999% 96.6%;
  
      --border: 217 47% 10.56%;
      --input: 217 47% 10.56%;
  
      --primary: 217 47% 32%;
      --primary-foreground: 217 4.699999999999999% 96.6%;
  
      --secondary: 217 47% 10.56%;
      --secondary-foreground: 217 4.699999999999999% 96.6%;
  
      --accent: 217 47% 10.56%;
      --accent-foreground: 217 4.699999999999999% 96.6%;
  
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 217 4.699999999999999% 96.6%;
  
      --ring: 217 47% 32%;

      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }